@import "second";

#todos_container {
  width: 400px;
  float: left;
  min-height: 300px;
  border: 1px solid darkblue;
  .new_todo {
    font-family: Roboto;
    padding-left: 10px;
    font-size: 20px;
  }
}